.gallery{
	
    width: 960px;
    max-width: 100%; 
    min-width: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
}
.picture{
    padding-right: 5px;
}


@media screen and (max-width: 768px) {
	
    .gallery {
        min-width: 320px;
    }
    .gallery img {
        max-width: 48%; 
        height: auto;
        padding: 1%;
}

    .icon-menu{
    	display: none;
    }
}